/*
Large devices
Desktops (≥1200px) 
*/
@media only screen and (max-width:1199px){
    
}

/*
Medium devices
Desktops (≥992px)
*/
@media only screen and (max-width:991px){
    .table tr{
        line-height: unset;
    }
}
/*
Small devices
Tablets (≥768px)
*/
@media only screen and (max-width:767px){
    .img-responsive{
        width:100%;
    }
    
}