/* General rules*/
.alert{
    display: none;
}
.title a h3{
    color:gray;
}
.title a h3:hover{
    color:black;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  .dropdown-item:hover{
      background:unset;
      color:gray !important;
  }
a:hover{
    text-decoration: none;
    color:gray;
}
.nav-footer{
    padding: 10px 0px 40px 0px;
}
.nav-footer a{
    color:gray;
}
.nav-footer a:hover{
    color:#222;
}
.mg-bot-10{
    margin-bottom: 10px;
}
.sm-text{
    font-size: 12px;
}
.md-text{
    font-size: 18px;
}
.lg-text{
    font-size: 32px;
}
.vert_pad{
    padding:20px 0px;
}
.mg-bottom{
    margin-bottom: 10px;
}
.mg-right{
    margin-right: 1%;
}
.half-control{
    width:49% !important;
    display: inline-block !important;
}
.quarter-control{
    width:24% !important;
    display: inline-block !important;
    margin-left: 24%;
}
li{
    list-style: none;
}
.padding20{
    padding:20px;
}
.separator{
    margin: 40px auto;
}
.gray{
    color:gray;
}
.black{
    color:#000;

}
.bold{
    font-weight: bolder !important;
}
.medium{
    font-size: 20px;
}
.big{
    font-size:26px;
}
.inl-blc{
    display: inline-block;
    
}
.no-pad{
    padding:0px !important;
}
.no-pad-left{
    padding-left: 0px !important;
}
.red{
    color:#d71a21;
}
.white{
    color:#fff;
}
.darkgray{
    color:darkgray;
}
#cart_dropdown{
    display: none;
    position: absolute;
    right: 0;
    top:65px;
    background:#fff;
    box-shadow: 0px 0px 10px #ccc;
    z-index: 999;
    padding:20px 30px;
}
.mini_cart_item img{
    width:60px;
    margin-right: 10px;
}
.buttons{
    margin-bottom:5px;
}
.cart_content button{
    border-radius: 10px;
    padding:10px;
    font-size: 15px;
    font-weight: lighter;
}
/*Home Page*/
#HomePage{
    background:#000;
}
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .main-text{
    position: absolute;
    top: 150px;
    width: 100%;
    padding:0px 30px;
    z-index:999;
    color: #FFF;
    text-align: center;
}
  .main-text img{
      margin-bottom: 50px;
  }
  .main-text button{
      width:220px;
      border-radius: unset !important;
  }
  .main-text .svg-inline--fa{
      margin:10px 5px;
      color:white;
  }
  .main-text .svg-inline--fa:hover{
    
    color:darkgray;
}

/* collection */
.topHeader{

}
.topHeader .logo img{
    width:370px;
    padding:30px;
}
.topHeader .svg-inline--fa{
    font-size: 22px;
    color:#000;
}
.topHeader .svg-inline--fa:hover{
    color:darkgray;
}

.topHeader .text-right a{
    line-height: 100px;
}
.nav .nav-item a{
    color:#fff;
}
nav .nav-item a {
    color:#000 !important;
    margin:10px 20px;
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;
}
.nav-item .active{
    color:gray !important;
}

/* ---- isotope ---- */

.grid{
    width:100%;
    height:100%;
}

/* ---- .element-item ---- */
.element-item {
    background-size: contain;
    float: left;
    width: 31%;
    height: 450px !important;
    margin: 1%;
    color: #262524;
    transition: opacity .5s ease;
  }
  /* .element-item:hover{
      background:url('../imgs/access1.jpg') top center !important;
  } */
 .filters-button-group{
     padding:20px;
 }
  .filters-button-group .button{
      background:transparent;
      border:transparent;
      cursor: pointer;
  }
  .filters-button-group .button:focus{
    outline:0;
  }
  .filters-button-group .button.is-checked{
    color:grey;
}

/*
About*/

.trademark{
    margin:40px 0px 0px 0px;
    background:whitesmoke;
    padding-top:40px;
}
.mg_bot_20{
    margin-bottom:20px;
}

/*
Contact*/

.myInput{
    background:whitesmoke;
    border:transparent;
    box-shadow: 0 0 0 2px transparent, 0 1px 0 rgba(0,0,0,0.08) inset;
    margin-bottom:20px;
}
.myInput:focus{
    border:3px solid #000;
    box-shadow: unset;
    outline: 0 !important;
}
.myInput::placeholder{
    color:darkgray;
}

/*Product
*/

#gal1 img{
    border:2px solid white;
    width: 100px;
    margin-top:5px;
}
.img-responsive{
    max-width: 100%;
}

.active img{
    border:2px solid #333 !important;
}

.counter-container button:focus{
    outline: 0 !important;
}
.counter-container button{
    margin-left: 10px ;
}
.counter-container{
    margin-bottom:10px;
    
}
.counter-container input{
    background:#fff;
    color:#000;
    border-radius: 5px;
    width: 30px;
}
.counter-container input:focus{
    outline: 0;
}
#number{
    background:#2e2e2e;
    color:#fff;
    text-align: center;
}
.product{
    padding-top:10px;
}
.product:hover{
    box-shadow: 0px -1px 5px #ccc;
}
.cartBtn{
    position: absolute;
    right: 5px;
    bottom: 5px;
}
/*cart*/
.table{
    border-bottom:1px solid #ccc;
}
.table th>img{
    margin-left:10px;
    max-width: 80px;
}
.table tr{
    line-height: 80px;
}

#CartPage .counter-container input{
    line-height: 30px;
}
.checkoutInfo{
    background:#f6f6f6;
}
.checkoutInfo  tbody{
    text-align: right;
}
.checkoutInfo tbody tr{
    box-sizing: border-box;
}
.checkoutInfo th{
    text-align: left;
    font-weight: normal;
}
.checkoutInfo td, th {
    padding: 0.6rem 1rem;
}
#shipping_method label,span{
    font-size: 14px;
}
#shipping_method input[type="radio"] {
    vertical-align: middle;
}
input[type="checkbox"], input[type="radio"] {
    margin-right: 0.3rem;
    box-shadow: none !important;
}
#shipping_method{
    padding-left:0px;
}
#shipping_method li{
    line-height: 1.4;
}

/*checkout*/
.checkout_btn{
    width: 100%;
    margin-top: 20px;
}
.checkout_btn button{
    padding: 10px;
    border-radius: 10px;

}
#CheckoutPage .title{
    margin-bottom:30px;
}
#CheckoutPage table{
    width: 100%;
}
#ChecktoutPage #shipping_method label,span{
    font-size: 18px;
}
.checkboxes{
    background-color: #fff;
    margin: 20px;
    width: 100%;
    padding: 10px;
}
.checkboxes #cash_div,#credit_div{
    margin-bottom:10px;
}
.checkboxes .visa_info{
    margin-top:10px;
}

/*lookbook*/
#lookbook figure figcaption{
    background:white;
    font-size: 22px;
    position: absolute;
    top: 25%;
    left: 20%;
    right: 25%;
    bottom: 25%;
    padding:20px;
}
#shootsPage figure figcaption{
    position: unset;
    background:unset;
    color:black;
    box-shadow: 0px 1px 1px 0px #c3c3c3;
}
#shoot-colabs .element-item{
    height: 400px;
    
}
/*moodboard*/
#moodboard #event-photos {
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

#moodboard #event-photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    margin-bottom: 20px;
}
  
  
  

